// ----------------------------------------------------------------------------
//
// ADMIN-Section
//
// ----------------------------------------------------------------------------
// DESCRIPTION:
//
//
//
// CONTENTS:
// -
// -
// -
// -
// ----------------------------------------------------------------------------


// login and admin
// PENDENT: entfernen?!?!?!è
a.no-underlined-links,
a.no-underlined-links:visited,
a.no-underlined-links:hover {
  text-decoration: none !important;
  background-color:transparent !important;
  border:none;
}
a.no-underlined-links:hover {
  background: none;
}




// Admin section: the menu itself doesn't occupy space. So make room
// at the top of the div covering the whole admin area.
body > div.admin {
  padding-top: 24px;

  h1 {
    background-color: #fe5f14;
    color: #ffffff;
  }

}



  /* Admin-Bereich */
  &.admin #menuv3{
    top: 0px ;
  }


    /* Admin-Bereich */
  &.admin > div.admin{
    top: 74px ;
    position: absolute;
    width: 100%;
    background-color: #ececec ;
  }



