//  ----------------------------------------------------------------------------
//
//  TABLES
//
//  ----------------------------------------------------------------------------
//  DESCRIPTION:
//
//
//
//  CONTENTS:
//  - MIXINS
//  - TABLE
//  - CELLS (TD & TH)
//    - Data Format
//    - Images within Cells
//    - TD
//    - TH
//    - TR (Table Row)
//  - THEAD
//  - TBODY
//  - TFOOT
//  - CAPTION
//  - HEADINGS (Print Style)
//  - COLGROUP & COLS
//    - Dimensions for Table Colums (COL)
//  - TABLE LIST
//  - TABLE PLAIN
//  - TABLE HORIZONTAL
//  - TABLE DIALOG
//  - TABLE CLASS TEST
//  - DIMENSIONS (Classes) FOR TABLES
//  - LINKS
//  - HEADINGS
//  - SUBTOTALS
//
//  - TABLES in Requirement Specs
//  - TABLES with DIVS
//  - LIST WITH PARAGRAPHS
//  ----------------------------------------------------------------------------











//  --------------------------------------
//  TABLE
//  --------------------------------------

table {
  font-size: @font-size-base ;
  table-layout: auto;
  border-spacing: 1px;


  //  --------------------------------------
  //  CELLS (TD & TH)
  //  --------------------------------------

  td,
  th {
    text-align: left ;
    vertical-align: top;
    font-size: @font-size-smaller;
    font-weight: normal ;
    color: #000000;


    //  --------------
    //  Data format
    //
    &.right{
      text-align: right !important ;
    }
    &.center{
      text-align: center !important ;
    }
    &.numeric {
      text-align: right !important ;
    }
    &.numeric-centered{
      text-align: center !important ;
    }
    &.date {
      text-align: right !important ;
    }
    // PENDENT: wo eingesetzt
    &.button {
      text-align: center !important ;
    }
    &.img {
      text-align: center !important ;
    }
    &.top {
      vertical-align: top !important ;
    }
    // see also div.longdesc in main.css
    // PENDENT: Mixin und Variablen erstellen
    &.long-desc,
    &.long-description,
    &.longdesc,
    &.longdescription {
      font-size: 70% ;
      color: #888888 ;
    }

    &.formelem-with-desc {
      div.description{
        margin-left: 2.0em
      }
    }

    &.formelem-with-desc-float {
      input,
      select,
      div.description {
        float: left;
      }
      div.description{
        margin-left: 2.0em
      }
    }


    //  --------------
    //  Images within Cells
    //
    img{
      //display: inline-block ;
      display: inline ;
      vertical-align: top ;
    }

    &+a img,
    &+img {
      float: left ;
    }

    &~a img,
    &~img {
      float: right ;
    }


    //  --------------
    //  Description within Cell
    //
    div.description {
      font-size: 80% ;
      color: #555 ;
      float: both;
    }

    // PENDENT: vielleicht noetig?
    // PENDENT: Gut anschauen, geistert ein wenig ueberall im Code herum
    span {
      &.label{
        font-style: normal ;
        font-size: 90% ;
        color: @t-cell-head-text ;
      }
      &.below{
        //clear: both;
        overflow: hidden;
        display: block ;
        
        input{
          margin: 0 !important;
          &[type="checkbox"]{ padding: 0.6em 0.6em 0 0 ;}
        }
      }
      &.above{
        //clear: both;
        overflow: hidden;
        display: block ;
        margin-bottom: 0.4em ;
        
      }
    }



    //  --------------
    //  Form Element within Cells
    //
    input,
    select {
      //float: left;
      &.below {
        display: block;
        clear: left;
        float: none;
        overflow: hidden ;
        margin: 0.3em 0 0 0 !important;
      }
    }
    textarea{
      margin: -0.14em -0.0em ;
    }

  }
  //  /th, td


  //  --------------
  //  TH (Table Header Cells)
  //
  th {
    white-space: normal !important ;
  }

  //  --------------
  //  TD (Table Data)
  //
  td {}


  //  --------------
  //  TR
  //
  tr {
    //  if header-cell is in the same row as a caption-header-cell (TH.CAPTION)
    &.header-caption th{
      vertical-align: bottom ;
    }
  }


  //  --------------------------------------
  //  THEAD
  //  --------------------------------------
  thead{
    th {
      .mx-thead-th; //  Mixin

      a {
        img {
          vertical-align: middle;
          padding: 0;
          margin: 0;
        }
      }
    }
  }


  //  --------------------------------------
  //  TBODY
  //  --------------------------------------

  tbody {
    tr {
      //  common cells within TBODY
      td {  }
      th {  }
    }
  }


  //  --------------------------------------
  //  TFOOT
  //  --------------------------------------
  tfoot {
    tr{
      th,
      td{
        vertical-align: middle;
        //border-top: #999 1px solid ;
        border-bottom: #999 2px solid ;
        height: 1.8em;
      }

      td{
        font-weight: bold;
        color: #000;
      }

      th{
        font-weight: normal;
        color: #666;
       }

      //  if more than one row in TFOOT first row has other properties
      &:first{
        td,
        th{
          border-top: #000 2px solid ;
        }
      }

      // normaly last row of a table with some links or buttons under a designated row
      &.blank {
        th,
        td {
          border: none !important ;
        }
      }
    } //  /tr
  } //  /TFOOT


  //  --------------------------------------
  //  CAPTION
  //  --------------------------------------

  //  this must be placed here
  //  otherwise th.caption will be overridden if placed above
  caption,
  th.caption {
    color: @t-caption-text-color !important;
    font-weight: bold ;
    white-space: nowrap ;

    .mx-h3-caption ; //   Mixin

    //  Addition with smaller font-size
    small {
      font-size : @font-size-small ;
    }
  }


  //  --------------------------------------
  //  HEADINGS
  //  --------------------------------------

  //  alternativ Version (Print style)
  tr.heading th {
    font-size: 120%;
    border-top: 1px #999 solid;
  }


  //  --------------------------------------
  //  COLGROUP & COLS
  //  --------------------------------------

  colgroup{  

    //  Table Columns
    //  only for background-color and width
    //   PENDENT: funktioniert Text-Ausrichtung?
    col{
      &.right  { text-align: right;  }
      &.center { text-align: center; }
      &.long-desc { font-size: 70% ; }

      //  --------------
      //  Width of Columns (Dimensions)
      //
      &.wi-smallest    { width: (@tcol-wi-smallest    ) ; }
      &.wi-verysmall   { width: (@tcol-wi-verysmall   ) ; }
      &.wi-small       { width: (@tcol-wi-small       ) ; }
      &.wi-mediumsmall { width: (@tcol-wi-mediumsmall ) ; }
      &.wi-normal      { width: (@tcol-wi-normal      ) ; }
      &.wi-lightwide   { width: (@tcol-wi-lightwide   ) ; }
      &.wi-wide        { width: (@tcol-wi-wide        ) ; }
      &.wi-wider       { width: (@tcol-wi-wider       ) ; }
      &.wi-verywide    { width: (@tcol-wi-verywide    ) ; }
    }


  }

  //  --------------------------------------
  //  TABLE LIST (vertical)
  //  --------------------------------------
  //  Table with Zebra Effect
  //  This table has at least a THEAD and a TBODY
  //  Optional a TFOOT for Totals
  &.tbl-list {
    border-spacing:  1px;
    border-collapse: collapse ;
    margin:          0 0 1.0em 0 ;

    td,
    th{
      padding: 0.2em 0.4em ;
      white-space: normal ;
      vertical-align: middle;
    }

    thead {
      tr {
        height: 2.2em ;
        th {
          .mx-thead-th;
          background-color: @gray-light ;
          border-top:       1px solid @gray ;
          border-bottom:    1px solid @gray ;
        }
      }
    }

    tbody{
      border-bottom: #999 1px solid ;

      tr:nth-child(odd){
        background-color: #ececec ;
      }
      tr:nth-child(even){
        background-color: #dedede ;
      }
      tr:hover{
        background-color: #fff ;
      }

      
    }
    tfoot{
      tr{
        th,
        td{ }
      }
    }
  } // /.tbl-list




  //  --------------------------------------
  //  TABLE PLAIN
  //  --------------------------------------

  //  Simple Table without Zebra Effect
  
  &.tbl-list-plain, &.tbl-plain {
    caption,
    th.caption { font-size: 80% !important; }

    th,
    td{
      padding-right: 20px;
      padding-left:  10px;
    }

    thead{
      th{
        .mx-thead-th; //  Mixin
      }
    }

    tr{
      th,
      td{
        padding: 0.3em inherit 0.3em 0.3em ;
      }
      td{ }
      th{ }
    }
  } // /.tbl-plain

  &.tbl-list-plain {
    thead th {
      border-top:    1px #000 solid !important;
      border-bottom: 1px #000 solid;
      font-weight:   bold;
    }
    tbody {
      td,
      th { border-bottom: 1px #999 solid; }
    }
  }




  //  --------------------------------------
  //  TABLE HORIZONTAL
  //  --------------------------------------

  &.tbl-horizontal{

    th,
    td{
      background: none;
      //padding: 0.5em 0.4em 0.2em 0.3em;
      padding-top: 0.5em ;
      padding-right: 0.2em ;
      padding-bottom: 0.2em ;
      padding-left: 0.3em ;

      // Adjust Form Elements in this table type
      &>input[type="checkbox"],
      &>input[type="radio"] {
        margin: 0.2em 0.3em 0 0 !important ;
      }
      &>input,
      &>select{
        margin: -0.3em 1px 0 0 ;
        // if there are further form elements within a table cell separated with a Linebreak BR
        &.addition { margin-top: 0.3em !important; }
      }

      // In some cases labels can be placed within the same cell as the form element
      // best is to have it above the element
      // PENDENT: Plazierung in LESS-Dateien
      .label-above{
        display: block;
        clear: both ;
        overflow: hidden;
        color: @t-cell-head-text;
        //height: 1.8em ; // PENDENT: besser loesen, gefaellt mir nicht
      }

    }

    th{
      color: @t-cell-head-text-accent;
      vertical-align: top;
      padding-top: 0.5em ;
      
      h4{
        margin: 0 ;
        padding: 0 ;
        
      }
    }

    td{
      // 2nd to x column with plain data (no form elements)
      &>span.plain-data,
      &>span.data,
      &>span{
        padding: 0.1em 0.3em 0.1em 0.3em ;
        display: block;
      }
      // Special Select-Element
      &>span.customer_vendor_picker{
        padding-left: 0 !important ;        
      }
      // Switch form element
      &>span.switch-form-element{
        padding: 0 !important ;   
        margin: -0.3em 1px 0 -0.14em !important ;     
      }
      &>span.wi-small-wide{ margin: 0 24px 0 0 ; display: block; }
      &>div.data{
        padding: 0.1363em 0 ;
      }
      &.data{
        padding: 0.4363em 0.3em 0.4363em 0.3em ;
      }
      &>span.label {
        padding: 0 0.3em 0.3em 0 ;        
        color: @t-cell-head-text;
        font-style: normal;
        display: block;
      }
      &>span.project_picker{
        margin: -0.3em 0 0 -0.2em ;
      }
    }

    caption,
    th.caption{
      padding: 0.4em 0 0.2em 0.2em;
    }

    // Exception: Thead in horizontal table
    thead th {
      padding: 0.5em 0.4em 0.9em 0.3em;
    }


    // Zebra effect
    &.zebra {
      tbody{
        tr:nth-child(odd){
          background-color: #dedede ;
          th { background-color: #fff ; }
        }
        tr:nth-child(even){
          background-color: #ececec ;
          th { background-color: #fff ; }
        }
      }
    } // /.zebra
    
    // checkered (bordered) table 
    &.checkered {
      border-collapse: collapse ;
      tbody{
        tr{
          background-color: #F3F3F3 ;
          //th { background-color: #fff ; }
          td, th {
            border-color: #999 ;
            border-width: 1px ;
            border-style: solid ;
            padding: 0.3em 0.6em ;
          }
        }
      }
    } // /.zebra
    
    

  } // /.tbl-horizontal



  //  --------------------------------------
  //  STANDARD KIVITENDO TABLES
  //  --------------------------------------
  &.tbl-horizontal,
  &.tbl-plain,
  &.tbl-list{
    margin-bottom: 0.6em ;
    border-collapse: collapse;
    border: none; 
    
    tr td {
      &>span{
        padding: 0.3em 0.3em 0.6em 0.3em ;
      }
    }
  }





  //  --------------------------------------
  //  TABLE DIALOG
  //  --------------------------------------

  //  Table within DIV-Dialogs
  &.tbl-dialog{
    th,
    td{
      background-color: #ececec;
    }
    th{
      color: #888;
      font-size: @font-size-base ;
      vertical-align: top;
    }
  }





  //  --------------------------------------
  //  TABLE CLASS TEST
  //  --------------------------------------
  //  Use this class for reviewing your Table HTML

  &.test,
  &.test-plain{
    //border: 1px #000 solid ;
    //background-color: #BFD2AD;

    th{
      background-color: #B3B3B3;
      color: #757575 ;
      font-weight: normal ;

      &.caption {
        background-color: #B3B3B3 ;
        //border: 1px solid red !important;
      }
    }
    td{
      background-color: #CFCDD2; 

      &.longdesc,
      &.longdescription,
      &.long-desc,
      &.long-description{
        border: 1px solid green !important;
      }
    }

    table {
      border: 1px #0000FF solid ;
      border-collapse: collapse;

      td, th{
        border: 1px #C20D18 dotted !important;
      }
    }

  } // /.test




  &.test{
    //border: 1px #000 solid ;
    //background-color: #BFD2AD;

    th{
      border: 1px #757575 solid !important;
      background-color: #B3B3B3;
      color: #757575 ;
      font-weight: normal ;

      &.caption {
        background-color: #B3B3B3 ;
        //border: 1px solid red !important;
      }
    }
    td{
      border: 1px #3C3C3B solid ; 
      background-color: #CFCDD2; 

      &.longdesc,
      &.longdescription,
      &.long-desc,
      &.long-description{
        border: 1px solid green !important;
      }
    }

    table {
      border: 2px #0000FF solid ;
      border-collapse: collapse;

      td, th{
        border: 1px #C20D18 dotted !important;
      }
    }

  } // /.test



  //  --------------------------------------
  //  DIMENSIONS (Classes) FOR TABLES
  //  --------------------------------------

  &.width-full,
  &.full-width,
  &.wi-full { width: 100% ; }

  //  moderate width with padding on the right side
  &.width-moderate,
  &.moderate-width,
  &.wi-moderate{
    width: auto ;
    td,
    th {
      // PENDENT: vielleicht in Pixeln angeben, statt in EMs (siehe tbl-plain)
      padding-left: 0.6em ;
      padding-right: 1.2em;
    }
  }


  &.wi-smallest    { width: @tcol-wi-smallest     ; }
  &.wi-verysmall   { width: @tcol-wi-verysmall    ; }
  &.wi-small       { width: @tcol-wi-small        ; }
  &.wi-mediumsmall { width: @tcol-wi-mediumsmall  ; }
  &.wi-normal      { width: @tcol-wi-normal       ; }
  &.wi-lightwide   { width: @tcol-wi-lightwide    ; }
  &.wi-wide        { width: @tcol-wi-wide         ; }
  &.wi-wider       { width: @tcol-wi-wider        ; }
  &.wi-verywide    { width: @tcol-wi-verywide     ; }



  &.wi-small-small           { width: @tcol-wi-small + @tcol-wi-small ; }
  &.wi-small-mediumsmall     { width: @tcol-wi-small + @tcol-wi-mediumsmall ; }
  &.wi-small-normal          { width: @tcol-wi-small + @tcol-wi-normal ; }
  &.wi-small-lightwide       { width: @tcol-wi-small + @tcol-wi-lightwide ; }
  // PENDENT: noch genauer anschauen, sollte eigentlich nur für horizontale Tabellen vorgesehen sein
  &.wi-small-wide            { width: @tcol-wi-small + @tcol-wi-wide + ( @diff-input-select )  ; }  
  //&.wi-small-wide            { width: 460px ; }  
  &.wi-small-wider           { width: @tcol-wi-small + @tcol-wi-wider ; }
  &.wi-small-verywide        { width: @tcol-wi-small + @tcol-wi-verywide ; }

  &.wi-mediumsmall-small       { width: @tcol-wi-mediumsmall + @tcol-wi-lightwide ; }
  &.wi-mediumsmall-mediumsmall { width: @tcol-wi-mediumsmall + @tcol-wi-mediumsmall ; }
  &.wi-mediumsmall-normal      { width: @tcol-wi-mediumsmall + @tcol-wi-normal ; }
  &.wi-mediumsmall-lightwide   { width: @tcol-wi-mediumsmall + @tcol-wi-lightwide ; }
  &.wi-mediumsmall-wide        { width: @tcol-wi-mediumsmall + @tcol-wi-wide ; }
  &.wi-mediumsmall-wider       { width: @tcol-wi-mediumsmall + @tcol-wi-wider ; }
  &.wi-mediumsmall-verywide    { width: @tcol-wi-mediumsmall + @tcol-wi-verywide ; }

  &.wi-normal-small       { width: @tcol-wi-normal + @tcol-wi-small ; }
  &.wi-normal-mediumsmall { width: @tcol-wi-normal + @tcol-wi-mediumsmall ; }
  &.wi-normal-normal      { width: @tcol-wi-normal + @tcol-wi-normal ; }
  &.wi-normal-lightwide   { width: @tcol-wi-normal + @tcol-wi-lightwide ; }
  &.wi-normal-wide        { width: @tcol-wi-normal + @tcol-wi-wide ; }
  &.wi-normal-wider       { width: @tcol-wi-normal + @tcol-wi-wider ; } 
  &.wi-normal-verywide    { width: @tcol-wi-normal + @tcol-wi-verywide ; } 

  &.wi-lightwide-small       { width: @tcol-wi-lightwide + @tcol-wi-small ; } 
  &.wi-lightwide-mediumsmall { width: @tcol-wi-lightwide + @tcol-wi-mediumsmall ; } 
  &.wi-lightwide-normal      { width: @tcol-wi-lightwide + @tcol-wi-normal ; } 
  &.wi-lightwide-lightwide   { width: @tcol-wi-lightwide + @tcol-wi-lightwide ; } 
  &.wi-lightwide-wide        { width: @tcol-wi-lightwide + @tcol-wi-wide ; } 
  &.wi-lightwide-wider       { width: @tcol-wi-lightwide + @tcol-wi-wider ; } 
  &.wi-lightwide-verywide    { width: @tcol-wi-lightwide + @tcol-wi-verywide ; } 




  //  --------------------------------------
  //  LINKS (within TD & TH)
  //  --------------------------------------

  td > a,
  th > a{
    display: block;
  }



  //  --------------------------------------
  //  HEADINGS (within TD & TH)
  //  --------------------------------------

  td {
    h3,
    h4 {
      margin: 0 !important ;
      padding: 0;
    }
  h4 {
      font-weight: normal;
    }
  }




  //  --------------------------------------
  //  SUB-TOTALS
  //  --------------------------------------

  tr{

    //  PENDENT: ggf. OBSOLETE
    &.total-sub{
      height: 2.0em;

      td{
        border-top: 1px solid #ccc ;
        border-bottom: 2px solid #999 ;
        font-weight: bold;
        color: #666 ;
      }
    }

  } //  /tr

}
//  /table


//
// **********************************
// TABLE & COLs DIMENSIONS
// **********************************

table,
table colgroup col {

  &.wi-smallest    { width: @tcol-wi-smallest     ; }
  &.wi-verysmall   { width: @tcol-wi-verysmall    ; }
  &.wi-small       { width: @tcol-wi-small        ; }
  &.wi-mediumsmall { width: @tcol-wi-mediumsmall  ; }
  &.wi-normal      { width: @tcol-wi-normal       ; }
  &.wi-lightwide   { width: @tcol-wi-lightwide    ; }
  &.wi-wide        { width: @tcol-wi-wide         ; }
  &.wi-wider       { width: @tcol-wi-wider        ; }
  &.wi-verywide    { width: @tcol-wi-verywide     ; }



  &.wi-small-small             { width: @tcol-wi-small-small ; }
  &.wi-small-mediumsmall       { width: @tcol-wi-small-mediumsmall ; }
  &.wi-small-normal            { width: @tcol-wi-small-normal ; }
  &.wi-small-lightwide         { width: @tcol-wi-small-lightwide ; }
  // PENDENT: noch genauer anschauen, sollte eigentlich nur für horizontale Tabellen vorgesehen sein
  &.wi-small-wide              { width: ( @tcol-wi-small-wide )  ; }  
  //&.wi-small-wide            { width: 460px ; }  
  &.wi-small-wider             { width: @tcol-wi-small-wider ; }
  &.wi-small-verywide          { width: @tcol-wi-small-verywide ; }

  &.wi-mediumsmall-small       { width: @tcol-wi-mediumsmall-lightwide ; }
  &.wi-mediumsmall-mediumsmall { width: @tcol-wi-mediumsmall-mediumsmall ; }
  &.wi-mediumsmall-normal      { width: @tcol-wi-mediumsmall-normal ; }
  &.wi-mediumsmall-lightwide   { width: @tcol-wi-mediumsmall-lightwide ; }
  &.wi-mediumsmall-wide        { width: @tcol-wi-mediumsmall-wide ; }
  &.wi-mediumsmall-wider       { width: @tcol-wi-mediumsmall-wider ; }
  &.wi-mediumsmall-verywide    { width: @tcol-wi-mediumsmall-verywide ; }

  &.wi-normal-small            { width: @tcol-wi-normal-small ; }
  &.wi-normal-mediumsmall      { width: @tcol-wi-normal-mediumsmall ; }
  &.wi-normal-normal           { width: @tcol-wi-normal-normal ; }
  &.wi-normal-lightwide        { width: @tcol-wi-normal-lightwide ; }
  &.wi-normal-wide             { width: @tcol-wi-normal-wide ; }
  &.wi-normal-wider            { width: @tcol-wi-normal-wider ; } 
  &.wi-normal-verywide         { width: @tcol-wi-normal-verywide ; } 

  &.wi-lightwide-small         { width: @tcol-wi-lightwide-small ; } 
  &.wi-lightwide-mediumsmall   { width: @tcol-wi-lightwide-mediumsmall ; } 
  &.wi-lightwide-normal        { width: @tcol-wi-lightwide-normal ; } 
  &.wi-lightwide-lightwide     { width: @tcol-wi-lightwide-lightwide ; } 
  &.wi-lightwide-wide          { width: @tcol-wi-lightwide-wide ; } 
  &.wi-lightwide-wider         { width: @tcol-wi-lightwide-wider ; } 
  &.wi-lightwide-verywide      { width: @tcol-wi-lightwide-verywide ; } 

}











//  --------------------------------------
//  LIST-TABLES in Wrappers
//  --------------------------------------

div.wrapper,
div.cols {
  table.tbl-list{
    border-left: 1px solid @gray !important ;
    border-right: 1px solid @gray ;
  }
}




//  --------------------------------------
//  TABLES in Requirement Specs
//  --------------------------------------

div.function-block * table.tbl-horizontal td{
  font-size: 66% !important;
}





//  --------------------------------------
//  TABLES build with DIVS
//  --------------------------------------

div.table {
  margin-bottom: 1.0em ;
  &.col {
    float: left;
    margin-right: 2.0em;
  }

  div.caption {
    clear: left ;
    display: block;
    font-weight: bold;
    color: grey ;
  }
  div.field {
    clear: left ; 
    display: block ;
    overflow: hidden ;
    // PENDENT: ueberpruefen wegen cke-Editor-Konflikte
    span.label{
      display: block ;
      float: left ;
      width: @wi-normal ;
    }
    span.value{
      display: block ;
      float: left ;
      width: @wi-normal ;
    }
  }
}


//  --------------------------------------
//  TABLES with PARAGRAPHS or DIVs for Checkboxes
//  --------------------------------------
// PENDENT: siehe auch form-additions
div.list {
  font-size: 10pt ;
  color: black ;
  // A column with a list
  &.col {
    float: left ;
    margin-right: 2.6em !important;
    width: auto;
    min-width: 140px;
    max-width: 180px;
  }
  // List Title
  h4 {
    margin: 0 ;
    padding: 1.2em 0 0.2em 0.4em ;
    font-size: 10pt !important;
    font-style: italic;
  }
  // List Elements
  &>p,
  &>div {
    padding: 0.2em 0 0.2em 0 !important;
    margin: 0 !important;
    white-space: normal;

    &>input[type="checkbox"],
    &>input[type="radio"] {
      padding: 0 ;
      margin: 0.3em 0.3em 0 0 ;
      float: left; 
    }
    label{
      width: 82% ; 
      float: left ;
    }
  }
  &>p{
    //margin: 0 0 1.2em 0 !important;
    overflow: hidden;
  }
  // Special Element but same like above (see Custom Vars)
  &>input[type="checkbox"] {}
  &>label { width: 82%; }
  
  div{ clear: left }
}


// --------------------------------------
// FLOAT-CELLS TABLE
// --------------------------------------
// Table with left-floating cell

div.float-cells-table{
  display: block ;
  width: 100% ;
  overflow: hidden;
  font-size: 80% ;

  div.caption{
    float: left;
    display: block;
    width: auto:
    padding: 0 2.0em 0 0;
    margin: 0;
     background-color: #6FC;

  }
  div.cells{
    float: left;
    display: block;
    overflow: hidden;
    width: 100%;
     background-color: #F66;

    div.cell{
      float: left;
      padding: 0 2.0em 0 0;
      border-right: 1px #fff solid;
      background-color: #FC6;
    }
  }
}



div.list-table-with-separate-total-table {

  div.full-width{
    padding-bottom: 0 ;
    margin-bottom: 0 ;
    
    .tbl-list{
      margin-bottom: 0;
    }
    
  }

  // Total-Tabelle
  // Separater Block mit Table ohne Body, nur Footer für Totals
  div.list-total{
    width: 100%;
    margin: 0 ; 
    padding: 0;
    overflow: hidden;
  
    table.footer-only{
      &.right{ float: right; }
      margin: 0 ; 
      padding: 0;
    }
  
    div.after-item{  }
  }

}


.floating-boxes {
  display: table ;
  margin: 0.4em 0 0.8em 0 ;
  
  .floating-box {
    display: table-cell ;
    float: left ;
    font-size: @font-size-smaller ;
    height: 1.9em ;
    vertical-align: middle;
    padding: 0 2.0em 0 0 ;
    .button, button{
      margin: 0 ; 
    }
    label,
    span.label{ 
      width: auto;
      font-size: @font-size-smaller ;
      display: inline-block;
      height: 160%;
      color: #666;
    }
    input[type="checkbox"]{ margin: 0 0.4em 0 0 ; }
    select { margin: -0.3em 0 0 0; }
  }
}





//  --------------------------------------
//  Medienabfragen und Beruecksichtigungen Plattformen
//  --------------------------------------
//  Handheld Hochformat width: 320px
@media screen and (max-device-width: 479px) {

}
//  Handheld Querformat width: 480px
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {

}
//  Tablet Hochformat
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  //colgroup col:first-child,
  .tbl-horizontal th{
    //  --------------
    //  Width of Columns (Dimensions)
    //
    &.wi-smallest    { width:  @tcol-wi-normal  !important      ; }
    &.wi-verysmall   { width:  @tcol-wi-normal  !important      ; }
    &.wi-small       { width:  @tcol-wi-normal  !important      ; }
    &.wi-mediumsmall { width:  @tcol-wi-normal  !important      ; }
    &.wi-normal      { width:  @tcol-wi-normal  !important      ; }
    &.wi-lightwide   { width:  @tcol-wi-normal  !important      ; }
    &.wi-wide        { width:  @tcol-wi-normal  !important      ; }
    &.wi-wider       { width:  @tcol-wi-normal  !important      ; }
    &.wi-verywide    { width:  @tcol-wi-normal  !important      ; }
  }
}
//  < Tablet Querformat
@media screen and (max-device-width: 1024px) {
  .tbl-horizontal th{
    //  --------------
    //  Width of Columns (Dimensions)
    //
    &.wi-smallest    { width:  @tcol-wi-normal  !important      ; }
    &.wi-verysmall   { width:  @tcol-wi-normal  !important      ; }
    &.wi-small       { width:  @tcol-wi-normal  !important      ; }
    &.wi-mediumsmall { width:  @tcol-wi-normal  !important      ; }
    &.wi-normal      { width:  @tcol-wi-normal  !important      ; }
    &.wi-lightwide   { width:  @tcol-wi-normal  !important      ; }
    &.wi-wide        { width:  @tcol-wi-normal  !important      ; }
    &.wi-wider       { width:  @tcol-wi-normal  !important      ; }
    &.wi-verywide    { width:  @tcol-wi-normal  !important      ; }
  }
}
//  Normale Bildschirme
@media screen and (min-device-width: 1260px)  {

}





