[% USE T8 %]
[% USE HTML %]
[% USE LxERP %]
<form name="Form" method="post" action="controller.pl">
	<input type="hidden" name="action" value="LoginScreen/login">
	<div class="buttons">
	  <input type="button" onclick="history.back()" value="[% 'Back' | $T8 %]">
	</div>
	<p class="message_hint"> [% LxERP.t8('kivitendo is about to update the database [ #1 ].', dbname) | html %] </p>
	<p>[% 'You should create a backup of the database before proceeding because the backup might not be reversible.' | $T8 %] </p>
	<div class="buttons">
    <input type="submit" name="dummy" value="[% 'Continue' | $T8 %]">
	</div>
</form>

<div id="nodetails"> 
  <a href="#" onclick="$('#details,#nodetails').toggle();" class="button toggle off neutral">[% LxERP.t8('Show details') %]</a> 
</div>
<div id="details" style="display: none;">
	<a href="#" onclick="$('#details,#nodetails').toggle();" class="button toggle on neutral">[% LxERP.t8('Hide details') %]</a> </p>
	<p> [% LxERP.t8("List of database upgrades to be applied:") %] </p>
	<ul>
		[% FOREACH upgrade_script = unapplied_scripts %] 
      <li>[% HTML.escape(upgrade_script.tag) %]: [% HTML.escape(upgrade_script.description) %]</li>
		[% END %] 
	</ul>
</div>

