[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE L %]
[%- IF is_req_quo || is_pur_ord %]
  [%- SET allow_invoice=1 %]
[%- ELSIF is_sales_quo && INSTANCE_CONF.get_allow_sales_invoice_from_sales_quotation %]
  [%- SET allow_invoice=1 %]
[%- ELSIF is_sales_ord && INSTANCE_CONF.get_allow_sales_invoice_from_sales_order %]
  [%- SET allow_invoice=1 %]
[%- ELSE %]
  [%- SET allow_invoice=0 %]
[%- END %]

<div class="wrapper" style="width:100%">


[% IF show_weight %]
<table class="tbl-plain col">
  <tbody>
    <tr>
      <th> [% 'Total weight' | $T8 %] </th>
      <td> [% LxERP.format_amount(totalweight, 3) %] [% HTML.escape(weightunit) %] </td>
    </tr>
  </tbody>
</table>
[% END %]


[% IF is_sales %]
<table class="tbl-plain col">
	<tbody>
		<tr>
			<th> [% 'Ertrag' | $T8 %] </th>
			<td> [% LxERP.format_amount(marge_total, 2) %] 
			<input type="hidden" name="marge_total" value="[% HTML.escape(marge_total) %]">
			</td>
		</tr>
		<tr>
			<th> [% 'Ertrag prozentual' | $T8 %]</th>
			<td> [% LxERP.format_amount(marge_percent, 2) %] % 
			<input type="hidden" name="marge_percent" value="[% HTML.escape(marge_percent) %]">
			</td>
		</tr>
	</tbody>
</table>

[% END %]


<div class="col">
  [%- IF taxaccounts %]
    <input type="hidden" name="taxincluded_changed_by_user" id="taxincluded_changed_by_user" value="[% taxincluded_changed_by_user ? '1' : '0' %]">
    <input type="checkbox" name="taxincluded" class="checkbox" onclick="document.getElementById('taxincluded_changed_by_user').value = '1';" value="1"[% IF taxincluded %] checked[% END %]>
    <b>[% 'Tax Included' | $T8 %]</b>
  [% END %]
</div>


<table class="tbl-plain col-right">
  <tbody>
    [%- IF NOT taxincluded %] 
    <tr>
      <th>[% 'Subtotal' | $T8 %]</th>
      <td>[% LxERP.format_amount(invsubtotal, 2) %]</td>
    </tr>
    [%- END %] 
    [% tax %] 
    [%- IF rounding %] 
    <tr>
      <th>[% 'Rounding' | $T8 %]</th>
      <td>[% LxERP.format_amount(rounding, 2) %]</td>
    </tr>
    [%- END %] 
    <tr>
      <th>[% 'Total' | $T8 %]</th>
      <td>
        [% LxERP.format_amount(invtotal, 2) %] 
        <input type="hidden" name="oldinvtotal" value="[% HTML.escape(oldinvtotal) %]">
        <input type="hidden" name="oldtotalpaid" value="[% HTML.escape(totalpaid) %]">
      </td>
    </tr>
  </tbody>
</table>


</div><!-- .wrapper -->

</div><!-- .ui-tabs-panel  -->




[%- PROCESS 'webdav/_list.html' %]
<div id="ui-tabs-1">
 [%- LxERP.t8("Loading...") %]
</div>


</div>

<input type="hidden" name="saved_xyznumber" value="[% HTML.escape(saved_xyznumber) %]">
[% L.hidden_tag("rowcount", rowcount) %]
<input type="hidden" name="callback" value="[% callback | html %]">
[% IF vc == 'customer' %]
  <input type="hidden" name="customer_discount" value="[% HTML.escape(customer_discount) %]">
[% ELSE %]
  <input type="hidden" name="vendor_discount" value="[% HTML.escape(vendor_discount) %]">
[% END %]

<div id="shipto_inputs" class="hidden">
 [%- PROCESS 'common/_ship_to_dialog.html' %]
</div>

<div id="email_inputs" class="hidden"></div>

<div id="print_options" class="hidden">
 [% print_options %]
</div>

</form>

<div id="shipto_dialog" class="hidden"></div>
<div id="print_dialog" class="hidden">
 [%- PROCESS 'common/_print_dialog.html' %]
</div>
