[% USE HTML %]
[% USE LxERP %]
[% USE L %]
[% USE T8 %]
[% SET style="width: 500px" %]

[%# L.dump( SELF.defaults ) %]

<div id="default_accounts">
<div class="wrapper">

<table class="tbl-horizontal">
  <caption>[% 'Default Accounts' | $T8 %]</caption>
  <tbody>
    <tr>
      <th>[% LxERP.t8("Inventory Account") %]</th>
      <td>[% L.chart_picker('defaults.inventory_accno_id', SELF.defaults.inventory_accno_id, type='IC', choose=1, style=style) %] </td> 
    </tr>
    <tr>
      <th>[% LxERP.t8("Revenue Account") %]</th>
      <td>[% L.chart_picker('defaults.income_accno_id', SELF.defaults.income_accno_id, type='IC_income,IC_sale', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Expense Account") %]</th>
      <td>[% L.chart_picker('defaults.expense_accno_id', SELF.defaults.expense_accno_id, type='IC_expense,IC_cogs', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Foreign Exchange Gain") %]</th>
      <td>[% L.chart_picker('defaults.fxgain_accno_id', SELF.defaults.fxgain_accno_id, category='I,A', choose=1, style=style) %]</td> 
    </tr>
    <tr>
      <th>[% LxERP.t8("Foreign Exchange Loss") %]</th>
      <td>[% L.chart_picker('defaults.fxloss_accno_id', SELF.defaults.fxloss_accno_id, category='E,A', choose=1, style=style) %]</td> 
    </tr>
    <tr>
      <th>[% LxERP.t8("Rounding Gain") %]</th>
      <td>[% L.chart_picker('defaults.rndgain_accno_id', SELF.defaults.rndgain_accno_id, category='I,A', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Rounding Loss") %]</th>
      <td>[% L.chart_picker('defaults.rndloss_accno_id', SELF.defaults.rndloss_accno_id, category='E,A', choose=1, style=style) %]</td>
    </tr>
    <tr>
      <th>[% LxERP.t8("Current assets account") %]</th>
      <td>[% L.chart_picker('defaults.ar_paid_accno_id', SELF.defaults.ar_paid_accno_id, type='AR_paid', choose=1, style=style) %]</td> 
    </tr>
    <tr>
      <th>[% LxERP.t8("Payable account") %]</th>
      <td>[% L.chart_picker('defaults.ap_chart_id', SELF.defaults.ap_chart_id, type='AP', choose=1, style=style) %]</td> 
    </tr>
    <tr>
      <th>[% LxERP.t8("Receivable account") %]</th>
      <td>[% L.chart_picker('defaults.ar_chart_id', SELF.defaults.ar_chart_id, type='AR', choose=1, style=style) %]</td> 
    </tr>
  </tbody>
</table>

</div>
</div>

