/* CSS FOR MENU ITEM OF TYPE "top" */

.DHTMLSuite_menuItem_top_regular,
.DHTMLSuite_menuItem_top_over,
.DHTMLSuite_menuItem_top_click,
.DHTMLSuite_menuItem_top_disabled,
.DHTMLSuite_menuItem_top_active{
	height:19px;
	line-height:16px;
	margin: 2px 2px 0 2px ;
  padding: 1px 3px 1px 3px ; 
	cursor:pointer;
}
/* Top level menu item - Regular state */
.DHTMLSuite_menuItem_top_regular{	
	cursor:pointer;
}
/* Top level menu item - Mouse over state */
.DHTMLSuite_menuItem_top_over{ 
	border:1px solid #000;
	color:#000;
	background-color:#FFEEC2;
}
/* Top level menu item - Mouse click state */
.DHTMLSuite_menuItem_top_click{	
	border:1px solid #000;
	background-color:#FFB25C;
	z-index:20000;
}
/* Disabled menu item */
.DHTMLSuite_menuItem_top_disabled{	
	cursor:default;
}
/* Top level menu item - Active state - 
this is typical the state for menu item 1 
when a sub group is expanded and the mouse is located over one of the sub menu items 
*/
.DHTMLSuite_menuItem_top_active{	
	border:1px solid #000;
	border-bottom:1px solid #FFF;
}

/* divs for the text,icon and arrow of a menu item */
.DHTMLSuite_menuItem_top_regular div,
.DHTMLSuite_menuItem_top_over div,
.DHTMLSuite_menuItem_top_click div,
.DHTMLSuite_menuItem_top_disabled div,
.DHTMLSuite_menuItem_top_active div{
	float:left;
  display:block;
}



/* Sub divs of disabled top level items. 
A menu item is a div with some subdivs(one for the icon, one for text etc.). 
this is the css for these sub divs 
*/
.DHTMLSuite_menuItem_top_disabled img,
.DHTMLSuite_menuItem_top_disabled div{	
	/* Transparency */
	filter:alpha(opacity=40);	
	opacity:0.4;	
	-moz-opacity:0.4;	
	-khtml-opacity:.4;	
}

/* CSS FOR THE SMALL ARROW DIV - WHEN YOU CLICK ON THIS DIV, SUB ELEMENTS WILL SHOW */
/* This is the arrow for top level elements */
.DHTMLSuite_menuItem_top_arrowShowSub{	
	width:12px;	/* Width of item */
	background-repeat:no-repeat;	/* No background repeat for the arrow */
	background-position:center center;	/* Position of the arrow. at the center of this div */
	/* Relative path to the arrow */
	background-image: url('../../../image/dhtmlsuite/menu_strip_down_arrow.png');	
	margin:0px;
	/* -1 pixel is added to get the arrow a little bit more to the right. 
	   this is because of the right padding of top level items 
	*/
	margin-right:-1px;	
	padding:0px;
	height:16px;
	margin-left:2px;
	float:right;
}

.DHTMLSuite_menuItem_top_over .DHTMLSuite_menuItem_top_arrowShowSub,
.DHTMLSuite_menuItem_top_click .DHTMLSuite_menuItem_top_arrowShowSub
{	/* Sub menu arrows */
	margin-left:1px;
	border-left:1px solid #000;
}

/* CSS FOR SEPARATOR */
/* Separator of type "top" */
.DHTMLSuite_menuItem_separator_top{	
	height:20px;
	margin-top:3px;
	margin-bottom:3px;
	width:4px;
	padding-left:3px;
	padding-right:3px;
	background-repeat:repeat-y;
	background-image:url('../../../image/dhtmlsuite/menu_strip_separator.gif');

}


/* CSS FOR MENU ITEM OF TYPE "sub" */

/* Commom css for regular, mouse over and mouse click items */
.DHTMLSuite_menuItem_sub_regular, .DHTMLSuite_menuItem_sub_over,.DHTMLSuite_menuItem_sub_click,.DHTMLSuite_menuItem_sub_disabled,.DHTMLSuite_menuItem_sub_active{	
	clear:both;
	line-height:18px;	
	height:18px;	
	/* Space inside the menu item - the 25 pixels are used in order to avoid text overlapping menu item icon */	
	padding-left:25px;	
	padding-right:4px;	
	padding-top:2px;	
	padding-bottom:2px;	 
	cursor:pointer;		
	margin:1px;	
	background-repeat:no-repeat;	
}
/* Disabled sub menu item */
.DHTMLSuite_menuItem_sub_disabled{	
	cursor:default;	
}
/* Disabled sub menu item
Here, we apply the rules on the divs inside the element, 
i.e. the div for the icon, text and arrow 
*/
.DHTMLSuite_menuItem_sub_disabled div,.DHTMLSuite_menuItem_sub_disabled{	
	filter:alpha(opacity=40);	
	opacity:0.4;	
	-moz-opacity:0.4;	
	-khtml-opacity:.4;	
}
/* Regular menu item */
.DHTMLSuite_menuItem_sub_regular,.DHTMLSuite_menuItem_sub_disabled{	
	margin-left:2px;	
	padding-top:3px;	
	padding-bottom:3px;	
}
/* Border around mouse over items, click items and active items */
.DHTMLSuite_menuItem_sub_over,
.DHTMLSuite_menuItem_sub_click,
.DHTMLSuite_menuItem_sub_active{
	border:1px solid #006;	
}
/* Background color of mouse over items and active items
(Active item = parent elements of the menu item the mouse is currently over)
*/
/* Mouse over effect */
.DHTMLSuite_menuItem_sub_over,.DHTMLSuite_menuItem_sub_active{	
	background-color:#FFEEC2;		
}
/* Mouse click effect */
.DHTMLSuite_menuItem_sub_click{	
	background-color:#FFB25C;	
}

/* divs for the text,icon and arrow of a menu item */
.DHTMLSuite_menuItem_sub_click div,
.DHTMLSuite_menuItem_sub_regular div,
.DHTMLSuite_menuItem_sub_over div,
.DHTMLSuite_menuItem_sub_active div,
.DHTMLSuite_menuItem_sub_disabled div{	
	float:left;		
	padding-left:1px;
	padding-right:1px;

}
/* Arrow div for sub elements (Right pointing arrow ) */
.DHTMLSuite_menuItem_sub_arrowShowSub{	
	position:absolute;	/* Never change this one */
	/* Path relative to the css file */
	background-image:url('../../../image/dhtmlsuite/menu-bar-right-arrow.png');	
	width:18px;
	height:18px;
	text-align:right;
	right:0px;
	background-repeat:no-repeat;	
	background-position: center right;
}

/* Separator of type "sub" */
.DHTMLSuite_menuItem_separator_sub{	
	height:1px;	
	margin-top:1px;	
	margin-bottom:1px;	
	margin-left:24px;	
	padding-right:3px;	
	background-color:#6A8CCB;	
}

.DHTMLSuite_menuItem_textContent{
  color: inherit !important;
}
