[%- USE T8 %]
[%- USE HTML %]
[%- USE LxERP %]
[%- USE L %]
<h1>[% 'Journal' | $T8 %]</h1>

<form method="post" id="form" action="gl.pl">

<input type="hidden" name="sort" value="datesort">

<div class="cols">

<table class="tbl-horizontal col">
	<tbody>
		<tr>
			<th> [% 'Reference / Invoice Number' | $T8 %] </th>
			<td> 
			<input name="reference" class="wi-normal" class="wi-normal initial_focus" type="text">
			</td>
		</tr>
		<tr>
			<th> [% 'Source' | $T8 %] </th>
			<td> 
			<input name="source" class="wi-normal" type="text">
			</td>
		</tr>
		[%- IF ALL_DEPARTMENTS %] 
		<tr>
			<th> [% 'Department' | $T8 %] </th>
			<td> [% L.select_tag('department_id', ALL_DEPARTMENTS, title_key='description', with_empty=1, class='wi-normal') %] </td>
		</tr>
		[%- END %] 
		<tr>
			<th> [% 'Description' | $T8 %] </th>
			<td> 
			<input name="description" class="wi-normal" type="text">
			</td>
		</tr>
		<tr>
			<th> [% 'Account Number' | $T8 %] </th>
			<td> 
			<input name="accno" class="wi-normal" type="text">
			</td>
		</tr>
		<tr>
			<th> [% 'Notes' | $T8 %] </th>
			<td> 
			<input name="notes" class="wi-normal" type="text">
			</td>
		</tr>
		<tr>
			<th> [% 'Project Number' | $T8 %] </th>
			<td> [% L.select_tag('project_id', ALL_PROJECTS, title_key='projectnumber', with_empty=1, class='wi-normal') %] </td>
		</tr>
		<tr>
			<th> [% 'Employee' | $T8 %] </th>
			<td> [% L.select_tag('employee_id', ALL_EMPLOYEES, title_key='safe_name', with_empty=1, class='wi-normal') %] </td>
		</tr>
		<tr>
			<th> [% 'Filter date by' | $T8 %] </th>
			<td> 
			<input name="datesort" class="radio" type="radio" value="transdate" checked>
			[% 'Transdate' | $T8 %] <br>
			<input name="datesort" class="radio" type="radio" value="gldate">
			[% 'Gldate' | $T8 %] </td>
		</tr>
		<tr>
			<th> [% 'From' | $T8 %] </th>
			<td> [% L.date_tag('datefrom') %] [% 'To (time)' | $T8 %] [% L.date_tag('dateto') %] </td>
		</tr>
	</tbody>
</table>


<div class="col message attention" style="width:30.0em;">
	<h4>[% 'Attention!' | $T8 %]</h4>
	<p> [% 'Since kivitendo version 3.5 new notations, see documentation 2.14' | $T8 %] </p>
</div>



</div><!-- /.cols -->


<div class="cols form-addition">

<h3>[% 'Include in Report' | $T8 %]</h3>


<div class="list col">
  <h4>[% 'Scope' | $T8 %]</h4>
	<p> <input name="category" class="radio" type="radio" value="X" checked> [% 'All' | $T8 %]</p>
	<p> <input name="category" class="radio" type="radio" value="A"> [% 'Asset' | $T8 %]</p>
	<p> <input name="category" class="radio" type="radio" value="L"> [% 'Liability' | $T8 %]</p>
	<p> <input name="category" class="radio" type="radio" value="I"> [% 'Revenue' | $T8 %]</p>
	<p> <input name="category" class="radio" type="radio" value="E"> [% 'Expense' | $T8 %]</p>
</div>



<table class="tbl-plain col">
  <caption>[% 'Transaction Details' | $T8 %]</caption>
	<tbody>
		<tr>
			<td> 
			<input name="l_transdate" class="checkbox" type="checkbox" value="Y" checked>
			[% 'Transdate' | $T8 %]</td>
		</tr>
		<tr>
			<td> 
			<input name="l_gldate" class="checkbox" type="checkbox" value="Y" checked>
			[% 'Gldate' | $T8 %]</td>
		</tr>
		<tr>
			<td> 
			<input name="l_id" class="checkbox" type="checkbox" value="Y">
			[% 'ID' | $T8 %]</td>
		</tr>
		<tr>
			<td> 
			<input name="l_reference" class="checkbox" type="checkbox" value="Y" checked>
			[% 'Reference' | $T8 %]</td>
		</tr>
		<tr>
			<td> 
			<input name="l_source" class="checkbox" type="checkbox" value="Y" checked>
			[% 'Source' | $T8 %]</td>
		</tr>
		<tr>
			<td> 
			<input name="l_description" class="checkbox" type="checkbox" value="Y" checked>
			[% 'Description' | $T8 %]</td>
		</tr>
		<tr>
			<td> 
			<input name="l_notes" class="checkbox" type="checkbox" value="Y">
			[% 'Notes' | $T8 %]</td>
		</tr>
	</tbody>
</table>


<table class="tbl-plain col">
  <caption>[% 'Accounts' | $T8 %] & [% 'Sum' | $T8 %]</caption>
	<tbody>
		<tr>
			<td> 
			<input name="l_debit" class="checkbox" type="checkbox" value="Y" checked>
			[% 'Debit' | $T8 %]</td>
		</tr>
		<tr>
			<td> 
			<input name="l_credit" class="checkbox" type="checkbox" value="Y" checked>
			[% 'Credit' | $T8 %]</td>
		</tr>
		<tr>
			<td> 
			<input name="l_accno" class="checkbox" type="checkbox" value="Y" checked>
			[% 'Account' | $T8 %]</td>
		</tr>
		<tr>
			<td> 
			<input name="l_subtotal" class="checkbox" type="checkbox" value="Y">
			[% 'Subtotal' | $T8 %]</td>
		</tr>
	</tbody>
</table>


<table class="tbl-plain col">
  <caption>[% 'Divers' | $T8 %]</caption>
	<tbody>
		<tr>
			<td> 
			<input name="l_projectnumbers" class="checkbox" type="checkbox" value="Y">
			[% 'Project Number' | $T8 %]</td>
		</tr>
		<tr>
			<td> 
			<input name="l_employee" class="checkbox" type="checkbox" value="Y">
			[% 'Employee' | $T8 %]</td>
		</tr>
	</tbody>
</table>




</div><!-- /.cols -->

</form>
