[% USE LxERP %]

<form method="post" action="controller.pl" id="form">

<div class="wrapper">
  <p>[% LxERP.t8('Select charts for which the CB/OB transactions want to be posted.') %]<br>
     [% LxERP.t8('There will be two transactions done:') %]</p>
    <ul>
      <li>[% LxERP.t8('One SB-transaction') %] ( [% SELF.cb_date.to_kivitendo %], [% SELF.cb_reference %], [% SELF.cb_description %], [% SELF.cbob_chartaccno %] )</li>
      <li>[% LxERP.t8('One OB-transaction') %] ( [% SELF.ob_date.to_kivitendo %], [% SELF.ob_reference %], [% SELF.ob_description %], [% SELF.cbob_chartaccno %] )</li>
    </ul>
   <p>[% LxERP.t8('No revert available.') %]</p>
   <p>[% LxERP.t8('close chart') %]: <b>[% SELF.cbob_chartaccno %]</b></p>
</div>

