/* Stylesheet for kivitendo * Name:kivitendo.css

Color table
-----------

Background:    #EBEBEB burlywood
Links:         #006400 DarkGreen
Link-hover     #FE5F14 Orange / #FFFFE0 lightyellow
Titles, BG/VG: #79B61B Mid-green FFFFFF White
Tabcolor:      #CAFFA3
*/


body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Input elements */
input,
textarea,
select,
option {
  background-color: white;
  border-color: darkgray lightgray lightgray;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


input:focus,
textarea:focus,
select:focus {
/*
  background-color: #ffffa0;
  border: 1px solid #fe5f14;
*/
}

input[type="button"],
input[type="submit"],
button {
/*
  background-color: whitesmoke;
*/

}

input[type="button"]:focus,
input[type="submit"]:focus,
button:focus {
/*
  background-color: #ffffa0;
  border-color: #fe5f14;
*/
}

button:hover:enabled,
input[type="button"]:hover:enabled,
input[type="submit"]:hover:enabled {
/*
  color: #fe5f14;
*/
}

/* The look of links */

a:link,
a:visited,
a:active {
  color: #000000;
}
a:hover {
  color: #FE5F14;
}
a.selected:hover {
  color:#EBEBEB;
}




hr {
/*
  background-color: #006400;
  border: none;
  color: #79B61B;
  height: 2px;
*/
}



td {
  color: #000000;

}
th {
  color: #000000;
}



/* Warnings */
.message_error_login {
  color: #000000;
  border: 1px solid #8b0000;
  background-color: #ffcccc;
}
.message_ok {
  background-color: #ADFFB6;
  color: black;
}
.message_error {
  background-color: #CC0000;
  color: white;

}
.message_hint {
  background-color: #FFEE66;
  color: black;

}
.message_error_label {
  background-color: #E00000;
  color: white;
}


/* Headings */
.listtop,
h1 {
  background-color: #006400;
  color: #FFFFFF;
}

.listheading,
#content h2 {
  background-color: #EBEBEB;
  color: #006400;
}

.accountlistheading {
  color: #006400;
  background-color: #EBEBEB;
}
.subsubheading {
  color: #000000;
}
.optionen {
  border: dashed;
  background: #FFFFE0;
}
.listrow1, .listrow:nth-child(even) {
  background-color: #FFFFFF;
  color: black;
}
.listrow0, .listrow:nth-child(odd) {
  background-color: #FFFF99;
  color: black;
}
.listrow_error1, .listrow_error:nth-child(even) {
  background-color: #F6CECE;
  color: black;
}
.listrow_error0,
.listrow_error:nth-child(odd) {
  background-color: #F5A9A9;
  color: black;
}
.listrowempty {
  background-color: #FFFFFF;
  color: black;
}
.listsubtotal {
  background-color: rgb(236,233,216);
  color: black;
}
.listtotal, .listtotal td {
  background-color: rgb(236,233,216);
  color: black;
}




fieldset {
  color: black;
}
.filecontent {
  border: 1px solid blue;
}

.unbalanced_ledger {
  background-color: #ffa0a0;
}
.flash_message_error {
  background-color: #FFD6D6;
  border: 1px solid #AE0014;
}
.flash_message_ok {
  background-color: #ADFFB6;
  border: 1px solid #007F0F;
}
.flash_message_warning {
  background-color: #FFE8C7;
  border: 1px solid #FF6600;
}
.flash_message_info {
  background-color: #DCF2FF;
  border: 1px solid #4690FF;

}



.dimmed-text {
  color: #ccc;
  font-style: italic;
}


.dunned_invoice {
  color: #f00;
}




/* Bank transactions */
#bank_transactions_proposals .invoice_number_highlight a,
#bank_transactions_proposals span.invoice_number_highlight {
  background-color: #006400;
  color: #FFFFFF;
}


div.layout-actionbar div.layout-actionbar-link,
div.layout-actionbar div.layout-actionbar-submit,
div.layout-actionbar div.layout-actionbar-scriptbutton,
div.layout-actionbar div.layout-actionbar-link:focus,
div.layout-actionbar div.layout-actionbar-submit:focus,
div.layout-actionbar div.layout-actionbar-scriptbutton:focus {
  border-color: darkgray;
  background-color: whitesmoke;
}

div.layout-actionbar div.layout-actionbar-link:hover,
div.layout-actionbar div.layout-actionbar-submit:hover,
div.layout-actionbar div.layout-actionbar-scriptbutton:hover {
  color: #FE5F14;
}

div.layout-actionbar div.layout-actionbar-action-disabled,
div.layout-actionbar div.layout-actionbar-action-disabled:hover {
  color: gray;
  background-color: whitesmoke;
  border-color: lightgray;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head span {
  border-color: darkgray;
  background-color: whitesmoke;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head span:hover {
  color: #FE5F14;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head span:after {
  border-color: black transparent;
}

div.layout-actionbar-combobox div.layout-actionbar-combobox-head span:hover:after {
  color: #FE5F14;
  border-color: #FE5F14 transparent;
}
div.layout-actionbar .layout-actionbar-default-action {
  font-weight: bold;
}


