[% USE T8 %]
[% USE HTML %]

<form method="post" action="controller.pl">
	[% IF is_wrong_pclass == NOTFORSALE %] 
    <h4 class="error">[% 'searched part not for sale' | $T8 %]</h4>
	[% ELSE %] 
    [% IF is_wrong_pclass == NOTFORPURCHASE %] 
      <h4 class="error">[% 'searched part not for purchase' | $T8 %]</h4>
    [% ELSE %] 
      <h4 class="error">[% 'Item does not exists in the database' | $T8 %]</h4>
      [% IF INSTANCE_CONF.get_create_part_if_not_found %] 
      <p>[% 'What type of item is this?' | $T8 %]</p>
      <p> 
        <input type="radio" name="part.part_type" value="part" checked> [% 'Part' | $T8 %]<br>
        <input type="radio" name="part.part_type" value="assembly"> [% 'Assembly' | $T8 %]<br>
        <input type="radio" name="part.part_type" value="service"> [% 'Service' | $T8 %]<br>
        <input type="radio" name="part.part_type" value="assortment"> [% 'Assortment' | $T8 %] 
      </p>
      [% FOREACH var = HIDDENS %] 
        <input type="hidden" name="[% HTML.escape(var.name) %]" value="[% HTML.escape(var.value) %]">
      [% END %] 
      <input type="hidden" name="action" value="Part/dispatch">
      <input type="submit" name="action_add_from_record" value="[% 'Continue' | $T8 %]">
      [% END %]<!-- /IF INSTANCE_CONF.get_create_part_if_not_found -->
    [% END %]<!-- /ELSE -> IF is_wrong_pclass == NOTFORPURCHASE -->
	[% END %]<!-- /ELSE -> IF is_wrong_pclass == NOTFORSALE -->
	<input id='back_button' type='button' class="submit" value="[% 'Back' | $T8 %]">
</form>


<script type='text/javascript'>
  $(function(){ $('#back_button').click(function(){ window.history.back(-1) }) })
</script>
